<div [ngClass]="['header']">
	<h1>Curiosity Images</h1>
	<h3>Launched:{{marsRover.launchDate}}</h3>
	<h3>Landed:{{marsRover.landDate}}</h3>
</div>

<div [ngClass]="['filters']">
	<div [ngClass]="['filter']">
		<ng-multiselect-dropdown
				[placeholder]="'Camera List'"
				[data]="cameraList"
				[(ngModel)]="selectedCameras"
				[settings]="dropdownSettings">
		</ng-multiselect-dropdown>
	</div>
	<div [ngClass]="['filter']">
		<input type="text"
			ng-model="selectedSol"
			type="number"
			name="sol"
			min="0"
			max="{{marsRover.maxSol}}"
			required="true">
	</div>
</div>

<div [ngClass]="['collage']">
</div>