<div [ngClass]="['header']">
	<h1>Mars Rover | Curiosity Images</h1>
	<h3>
		<span>Launch Date: {{marsRover.launchDate}}</span>
		<span>Landed: {{marsRover.landDate}}</span>
		<span>Total photos: {{marsRover.totalPhotos}}</span>
		<span>Total days spent: {{marsRover.maxSol}}</span>
	</h3>
</div>

<div [ngClass]="['filters']">
	<div [ngClass]="['filter', 'text-input']">
		<span>Sol</span>
		<input type="text"
			[(ngModel)]="modelSol"
			(change)="copySolValue()"
			type="number"
			name="sol"
			min="0"
			max="{{marsRover.maxSol}}"
			required="true">
	</div>
	<div [ngClass]="['filter', 'drop-down']">
		<span>Cameras</span>
		<ng-multiselect-dropdown
				[placeholder]="'Camera List'"
				[data]="cameraList"
				[(ngModel)]="selectedCameras"
				[settings]="dropdownSettings"
				(onSelect)="onSelectCamera($event)"
				(onDeSelect)="onUnSelectCamera($event)"
				(onSelectAll)="onSelectAllCamera($event)"
				(onDeSelectAll)="onUnSelectAllCamera($event)">
		</ng-multiselect-dropdown>
	</div>
</div>

<div [ngClass]="['collage']">
	<div *ngFor="let camera of viewCameras">
		<div *ngIf="camera.view" [ngClass]="['camera']">
			<camera [sol]="selectedSol" [camera]="camera"></camera>
		</div>
	</div>
</div>