/* You can add global styles to this file, and also import other style files */
.header {
    height: 10%;
}

.collage {
    background-color: gray;
    height: fit-content;
    width: 95%;
    padding: 1%;
    margin: 1%;
}

.filters {
    background-color: white;
    padding: 1%;
    margin: 2%;
    height: fit-content;
}

.filter {
    float: left;
    width: 30%;
    height: 100%;
    margin-left: 5%;
}